<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body ng-controller="LoginController">

    <!-- Form handling -->
    <div class="form" align="center">
            <form id="loginForm" action="{{welcomeUrl}}" method="post">
                <div class="form-fields" ng-repeat="field in fields">
                    <input class="fields" ng-model="field.content" placeholder="{[{field.name}]}" />
                </div>
                    <button id="signin">Sign In</button>
            </form>
            <div id="signup">
                <a>Don't have an account?</a>
                <a href="{{signupUrl}}">Sign Up</button>
            </div>
    </div>

        <!-- All the JavaScript is below -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script>
            // Binding the angular app to loginPage
            var loginPage = angular.module('myApp', []);

            // Login Controller -> Binding user input to content
            loginPage.controller('LoginController', ['$scope', function ($scope){
                $scope.fields = [
                    {name: 'Email ID', content: ''},
                    {name: 'Password', content: ''},
                ]
            }]);

            // Login Controller
            loginPage.controller('LoginController', ['$scope', function ($scope){
                $scope.fields = [
                    {name: 'Email ID'},
                    {name: 'Password'},
                ]
            }]);
            
            // Changing interpolate provider to prevent interference with hbs
            loginPage.config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
            });
        </script>

    </body>
</html>