body{
    background-image: url("/images/blue.jpg");
    background-size: cover;
}

.form{
    width: 300px;
    height: 450px;
    padding: 20px;
    background: #263238;
    opacity: 0.8;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#loginForm{
    margin-top: 260px;
}

.fields{
    padding: 15px;
    width: 250px;
    background: #263238;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

#signin{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 11px;
    font-size: 21px;
    background-color: #b71c1c;
    font-weight: bold;
    text-shadow: 1px 1px #b71c1c;
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #b71c1c;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#signup{
    text-decoration-color: white;
    font-size: 21px;
}

a{
    text-decoration: none;
}